<template>
    <button type="submit" @click="increment">&#9829; {{ counter }}</button>
<!--    <div class="buttons">-->
<!--        <button type="submit" @click="counter++">&#9829; {{ counter }}</button>-->
<!--        <button type="submit" @click="counter2++">&#9828; {{ counter2 }}</button>-->
<!--    </div>-->
</template>

<script>
    export default {
        name: "LikeButton",
        props: ['counter'],
        methods: {
            increment(){
                this.$emit(`update:counter`, this.counter + 1)
            }
        },
    }
</script>

<style scoped>
    .buttons {
        display: inline;
    }
</style>
