<template>
    <div v-if="tasks.length > 0" class="list">
        <h2 v-if="title != undefined">{{ title }}</h2>
        <div class="item" :class="{done: task.done}" v-for="task in tasks" :key="task.text">
            <input type="checkbox" v-model="task.done">
            {{ task.text }}
            <LikeButton :counter.sync="task.likes"/>
        </div>
    </div>
</template>

<script>
import LikeButton from './LikeButton'

export default {
    name: "TaskList",
    components: {LikeButton},
    props: ['tasks', 'title'],
}
</script>

<style scoped>
.done {
    text-decoration: line-through;
}
</style>
