<template>
    <div id="app">
        <h1>{{ h1 }}<LikeButton :counter.sync="headerLikes" /></h1>
        <h3>Количество лайков: {{ countLikes }}</h3>
        <div v-if="count == 0">Вы великолепны!</div>
        <div v-else-if="count == 1">Остался последний рывок!</div>
        <div v-else>Осталось сделать задач: <span class="counter">{{ count }}</span></div>
        <TaskList :tasks="uncompletedTasks" />
        <div class="form">
            <input v-model="message" @keydown.enter="addTask">
            <button type="button" @click="addTask">Добавить</button>
            <LikeButton :counter.sync="formLikes" />
        </div>
        <transition name="bounce">
            <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--H4RF1wgB--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://thepracticaldev.s3.amazonaws.com/i/6h7o5xkwvmpfcjit5x85.jpg"
                 v-show="count == 0">
        </transition>
        <TaskList :tasks="completedTasks" :title="h2" />
    </div>
</template>

<script>
    import LikeButton from "./components/LikeButton";
    import TaskList from "./components/TaskList";

    export default {
        name: "App",
        components: {LikeButton, TaskList},
        data: function() {
            return {
                headerLikes: 0,
                formLikes: 0,
                message: '',
                h1: 'Список задач ',
                h2: 'Завершенные задачи:',
                button: 'submit',
                disabled: false,
                tasks: [
                    {text: "Сделать ДЗ №1", done: true, likes: 3},
                    {text: "Сделать ДЗ №2", done: false, likes: 1},
                    {text: "Сделать ДЗ №3", done: false, likes: 0},
                ]
            }
        },
        methods: {
            addTask(){
                this.tasks.push({text: this.message, done: false, likes: 0})
                this.message=''
            },
        },
        computed: {
            count(){
                return this.tasks.filter(task =>!task.done).length
            },
            completedTasks() {
                return this.tasks.filter(task => task.done)
            },
            uncompletedTasks() {
                return this.tasks.filter(task => !task.done)
            },
            countLikes() {
                return this.headerLikes + this.formLikes + this.tasks.reduce((value, task) => value + task.likes, 0)
            },
        }
    }
</script>

<style scoped>
    .list {
        padding: 20px;
        border: 1px solid #ccc;
        margin: 20px 0;
    }
    .item {
        margin: 10px 0;
    }
    .done {
        text-decoration: line-through;
    }
    .form {
        margin: 20px 0;
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity 1.5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }

    .bounce-enter-active {
        animation: bounce-in 1s;
    }
    .bounce-leave-active {
        animation: bounce-in 1s reverse;
    }
    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
</style>
